<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>बळीराजा</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <% if (locals.user && locals.user.theme === 'dark') { %>
        <link rel="stylesheet" type="text/css" href="/dark-theme.css">
    <% } %>
</head>
<body>
    <nav   >
        <div class="navbar">
            <a class="navbar-brand" href="/"><%= locals.user ? locals.user.username : 'बळीराजा' %></a>
            <div class="navbar-links">
                <% if (locals.user) { %>
                    <a href="/profile"><%= user.username %>'s Profile</a>
                    <form>
                        <button type="submit" class="rose">Logout</button>
                    </form>
                <% } else { %>
                    <a href="/auth/login">Login</a>
                    <a href="/auth/signup" >Sign Up</a>
                <% } %>
            </div>
        </div>
    </nav>
    <main>
        <%- body %>
    </main>
</body>

</html>
